
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fondo {
    background-color: aquamarine;
    width: 153mm;
    height: 170mm;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}

#cableContainer {
    width: 153mm;
    height: 68mm;
    display: flex;
    flex-direction: row;
    position: absolute;
}

#cable {
    background-color: black;
    width: 153mm;
    height: 68mm;
    clip-path: url(#cablePath);
    position: absolute;
}

#controller {
    /* background-color: orange; */
    width: 153mm;
    height: 102mm;    
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    align-self: flex-end;
}

#trigger {
    background-color: rgb(17, 45, 123);
    width: 100%;
    height: 100%;
    clip-path: url(#triggerPath);
    position: absolute;
    z-index: 1;
}

#controllerBody {
    background-color: rgb(6, 170, 252);
    width: 153mm;
    height: 97mm;
    clip-path: url(#controllerPath);
    position:absolute;
    z-index: 2;
}

#controllerRow1 {
    width: 100%;
    height: 10%;
}

#controllerRow2 {
    /* background-color: orange; */
    width: 100%;
    height: 28%;
    z-index: 3;
    display: flex;
    flex-direction: row;
}

#controllerRow3 {
    width: 100%;
    height: 29%;
    z-index: 3;
    display: flex;
    flex-direction: row;
}

#controllerRow4 {
    width: 100%;
    height: 33%;
}

#controllerRow2Col1 {    
    height: 100%;
    width: 20%;
}

#controllerRow2Col2 {    
    height: 100%;
    width: 20%;
    background-color: orange;
}

#controllerRow2Col3 {
    height: 100%;
    width: 20%;
}

#controllerRow2Col4 {
    height: 100%;
    width: 40%;
}

#controllerRow3Col1 {
    height: 100%;
    width: 25%;
}

#controllerRow3Col2 {
    height: 100%;
    width: 20%;
    background-color: lime;
}

#controllerRow3Col3 {
    height: 100%;
    width: 10%;
    background-color: lightgrey;
}

#controllerRow3Col4 {
    height: 100%;
    width: 20%;
    background-color: orange;
}

#controllerRow3Col5 {
    height: 100%;
    width: 25%;
}

#buttonsRow1 {
    width: 100%;
    height: 50%; 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

#buttonsRow2 {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
}

#buttonsRow3 {
    width: 100%;
    height: 25%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#buttonsRow2Left {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#buttonsRow2Center {
    height: 100%;
    width: 50%;  
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

#buttonsRow2Right {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.buttonSmall {
    background-color: rgb(33, 73, 183);
    height: 5mm;
    width: 5mm;
    border-radius: 50%;
    box-shadow: 0mm 0mm 0.6mm 0.4mm rgba(0, 0, 0, 0.4);    
    border: 0.2mm solid black;
}

.buttonSmall:hover {    
    box-shadow: 0mm 0mm 0.2mm 0.2mm rgba(0, 0, 0, 0.6); 
}

#pilot {
    height: 1.5mm;
    width: 1.5mm;
    border-radius: 50%;
    background-color: rgb(33, 73, 183);
    border: 0.1mm solid black;
}

#xboxButton {
    height: 10mm;
    width: 10mm;
    border-radius: 50%;    
    background-color: rgb(229, 241, 241); 
    border: 0.8mm solid black;
    box-shadow: 0mm 0mm 0.6mm 0.4mm rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#xboxButtonImg1 {
    height: 10mm;
    width: 10mm;
    border-radius: 50%;  
    background-color: black;
    position: absolute;
    z-index: 4;    
    clip-path: url(#xboxButtonPath1);
}

#xboxButtonImg2 {
    height: 10mm;
    width: 10mm;
    border-radius: 50%;  
    background-color: black;
    position: absolute;
    z-index: 5;    
    clip-path: url(#xboxButtonPath2);
}

