
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fondo {
    background-color: aquamarine;
    width: 153mm;
    height: 170mm;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}

#cable {
    background-color: black;
    width: 153mm;
    height: 68mm;
    clip-path: url(#cablePath);
    position: absolute;
}

#controller {
    background-color: orange;
    width: 153mm;
    height: 102mm;    
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    align-self: flex-end;
}

#trigger {
    background-color: rgb(17, 45, 123);
    width: 100%;
    height: 100%;
    clip-path: url(#triggerPath);  
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    z-index: 1;
}

#controllerBody {
    background-color: rgb(6, 170, 252);
    width: 153mm;
    height: 97mm;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    clip-path: url(#controllerPath);
    position:absolute;
    z-index: 2;
}

