
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fondo {
    width: 153mm;
    height: 170mm;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}

#cableContainer {
    width: 153mm;
    height: 68mm;
    display: flex;
    flex-direction: row;
    position: absolute;
}

#cable {
    background-color: black;
    width: 153mm;
    height: 68mm;
    clip-path: url(#cablePath);
    position: absolute;
}

#controller {
    width: 153mm;
    height: 102mm;    
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    align-self: flex-end;
}

#trigger {
    background-color: rgb(17, 45, 123);
    width: 100%;
    height: 100%;
    clip-path: url(#triggerPath);
    position: absolute;
    z-index: 1;
}

#controllerBody {
    background: radial-gradient(at 50% 20%, rgb(7, 163, 241), rgb(2, 128, 190));
    width: 153mm;
    height: 97mm;
    clip-path: url(#controllerPath);
    position:absolute;
    z-index: 2;
}

#controllerRow1 {
    width: 100%;
    height: 10%;
}

#controllerRow2 {
    width: 100%;
    height: 28%;
    z-index: 3;
    display: flex;
    flex-direction: row;
}

#controllerRow3 {
    width: 100%;
    height: 29%;
    z-index: 3;
    display: flex;
    flex-direction: row;
}

#controllerRow4 {
    width: 100%;
    height: 33%;
}

#controllerRow2Col1 {    
    height: 100%;
    width: 18%;
}

#controllerRow2Col2 {    
    height: 100%;
    width: 22%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

#controllerRow2Col3 {
    height: 100%;
    width: 20%;
}

#controllerRow2Col4 {
    height: 100%;
    width: 40%;
}

#controllerRow3Col1 {
    height: 100%;
    width: 25%;
}

#controllerRow3Col2 {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: right;
}

#controllerRow3Col3 {
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#controllerRow3Col4 {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

#controllerRow3Col5 {
    height: 100%;
    width: 25%;
}

#buttonsRow1 {
    width: 100%;
    height: 50%; 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

#buttonsRow2 {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
}

#buttonsRow3 {
    width: 100%;
    height: 25%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#buttonsRow2Left {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#buttonsRow2Center {
    height: 100%;
    width: 50%;  
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

#buttonsRow2Right {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.buttonSmall {
    background-color: rgb(33, 73, 183);
    height: 5mm;
    width: 5mm;
    border-radius: 50%;
    box-shadow: 0mm 0mm 0.6mm 0.4mm rgba(0, 0, 0, 0.4);
    border: 0.2mm solid rgb(17, 45, 123);
    transition: 0.5s;
}

.buttonSmall:hover {    
    box-shadow: 0mm 0mm 0.2mm 0.2mm rgba(0, 0, 0, 0.6);
    transition: 0.5s; 
}

#pilot {
    height: 1.5mm;
    width: 1.5mm;
    border-radius: 50%;
    background-color: rgb(33, 73, 183);
    border: 0.1mm solid black;
}

#xboxButton {
    height: 10mm;
    width: 10mm;
    border-radius: 50%;    
    background: radial-gradient(rgb(229, 241, 241), rgb(190, 190, 190)); 
    border: 0.8mm solid black;
    box-shadow: 0mm 0mm 0.6mm 0.6mm rgba(0, 0, 0, 0.4);
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#xboxButton:hover {
    box-shadow: 0mm 0mm 0.2mm 0.2mm rgba(0, 0, 0, 0.4);
    transition: 0.5s
}

#xboxButtonImg1 {
    height: 10mm;
    width: 10mm;
    border-radius: 50%;  
    background-color: black;
    position: absolute;
    z-index: 4;    
    clip-path: url(#xboxButtonPath1);
}

#xboxButtonImg2 {
    height: 10mm;
    width: 10mm;
    border-radius: 50%;  
    background-color: black;
    position: absolute;
    z-index: 5;    
    clip-path: url(#xboxButtonPath2);
}

#dPadContainer {
    height: 21mm;
    width: 21mm;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2mm;
}

.dPadContainerRow1 {
    width: 21mm;
    height: 7mm;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dPadContainerRow2 {
    width: 21mm;
    height: 7mm;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dPadEmpty {
    height: 7mm;
    width: 7mm;
}

#dPadTop {    
    height: 7mm;
    width: 7mm;
    background-color: rgb(33, 73, 183);
    border-top-left-radius: 1mm;
    border-top-right-radius: 1mm;
    border-top: 0.5mm solid black;
    border-left: 0.5mm solid black;    
    border-right: 0.5mm solid black;
    box-shadow: 0mm 0mm 1mm 1mm rgba(0, 0, 0, 0.6);
    z-index: 3;
}

#dPadBottom {    
    height: 7mm;
    width: 7mm;
    background-color: rgb(33, 73, 183);
    border-bottom-right-radius: 1mm;
    border-bottom-left-radius: 1mm;
    border-left: 0.5mm solid black;
    border-right: 0.5mm solid black;
    border-bottom: 0.5mm solid black;
    box-shadow: 0mm 0mm 1mm 1mm rgba(0, 0, 0, 0.6);
    z-index: 3;
}

#dPadLeft {
    height: 7mm;
    width: 7mm;
    background-color: rgb(33, 73, 183);
    border-top-left-radius: 1mm;
    border-bottom-left-radius: 1mm;
    border-top: 0.5mm solid black;
    border-left: 0.5mm solid black;
    border-bottom: 0.5mm solid black;
    box-shadow: 0mm 0mm 1mm 1mm rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

#dPadLeftCopy {
    height: 7mm;
    width: 7mm;
    background-color: rgb(33, 73, 183);
    border-top-left-radius: 1mm;
    border-bottom-left-radius: 1mm;
    z-index: 4;
}

#dPadRight {    
    height: 7mm;
    width: 7mm;
    background-color: rgb(33, 73, 183);
    border-top-right-radius: 1mm;
    border-bottom-right-radius: 1mm;
    border-top: 0.5mm solid black;
    border-right: 0.5mm solid black;
    border-bottom: 0.5mm solid black;
    box-shadow: 0mm 0mm 1mm 1mm rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

#dPadRightCopy {    
    height: 7mm;
    width: 7mm;
    background-color: rgb(33, 73, 183);
    border-top-right-radius: 1mm;
    border-bottom-right-radius: 1mm;
    z-index: 4;
}

#dPadCenter {    
    height: 7mm;
    width: 7mm;
    background-color: rgb(38, 81, 200);
    box-shadow: 0mm 0mm 0.6mm 0.6mm rgba(0, 0, 0, 0.3);
    z-index: 5;
}

#leftJoystickHousing {
    width: 20mm;
    height: 20mm;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0mm 0mm 1.5mm 2mm rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#rightJoystickHousing {
    width: 20mm;
    height: 20mm;
    margin-top: 2mm;    
    margin-left: 3mm;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0mm 0mm 1.5mm 2mm rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.joystickBorder {
    width: 15.5mm;
    height: 15.5mm;
    background-color: rgb(3, 148, 220);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.joystick {    
    width: 13mm;
    height: 13mm;
    background: radial-gradient(rgb(6, 170, 252), rgb(6, 95, 139));
    border-radius: 50%;
}

#selectorText1 {
    width: 21mm;
    height: 3mm;
    text-align: right;
    color: white;
    margin-right: 1mm;
}

#selectorText2 {
    width: 20mm;
    height: 3mm;
    text-align: left;
    color: white;
    font-weight: bold;
    margin-left: 1mm;
    margin-top: 4.8mm;
}

#selectorRow1 {
    width: 100%;
    height: 60%;
}

#selectorRow2 {
    width: 100%;
    height: 15%;
    font-size: small;
    text-align: center;
    color: white;
}

#selectorRow3 {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#selectorRow4 {
    width: 100%;
    height: 5%;
}

#selector {
    width: 70%;
    height: 80%;
    border-radius: 0.5mm;    
    background: linear-gradient(to right, rgb(182, 181, 181), rgb(224, 222, 222), rgb(182, 181, 181));    
    border: 0.5mm solid grey;
    box-shadow: 0mm 0mm 0.5mm 0.7mm rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#selectorSetoff {
    width: 5%;
    height: 70%;
    border-radius: 50%;
    border: 0.5mm solid rgb(164, 164, 164);    
    box-shadow: 0mm 0mm 0.2mm 0.4mm rgba(164, 164, 164, 0.6);
}

#buttonContainer {
    width: 30mm;
    height: 30mm;
    position: absolute;
    z-index: 5;
    top: 15mm;
    right: 22mm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonContainerRow {
    width: 30mm;
    height: 10mm;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttonContainerEmpty {    
    width: 9mm;
    height: 9mm;
}

.buttonBig {
    width: 9mm;
    height: 9mm;
    background-color: rgb(33, 73, 183);
    border-radius: 50%;    
    border: 0.2mm solid rgb(17, 45, 123);
    box-shadow: 0mm 0mm 0.8mm 0.8mm rgba(0, 0, 0, 0.4);
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 8mm;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttonBig:hover {
    box-shadow: 0mm 0mm 0.4mm 0.4mm rgba(0, 0, 0, 0.4);
    font-size: 7.7mm;
    transition: 0.5s;
}

#buttonTextY {
    width: 9mm;
    height: 9mm;
    color: rgb(213, 213, 2);
}

#buttonTextX {
    width: 9mm;
    height: 9mm;
    color: rgb(2, 209, 209);
}

#buttonTextB {
    width: 9mm;
    height: 9mm;
    color: rgb(201, 1, 1);
}

#buttonTextA {
    width: 9mm;
    height: 9mm;
    color: rgb(3, 185, 3);
}